.about {
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: rgb(42, 43, 45);
  font-family: 'Raleway', sans-serif;
  width: 100%;
}
