.about {
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to top, #45484d -200%, #000000 100%);
  font-family: 'Raleway', sans-serif;
  width: 100%;
}
