.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headerlist {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
h1 {
  display: flex;
  justify-content: center;
  background-color: grey;
  text-shadow: white 1px 1px;
}

.btn {
  background-color: rgba(59, 57, 61, 0.85);
  color: white;
  height: 25px;
  display: flex;
  justify-content: center;
}
.homePage {
  color: white;
  background-color: rgb(196, 194, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../Images/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100vh;
  height: 100vh;
  text-shadow: white 1px 1px;
}
.selected {
  color: rgba(59, 57, 61, 0.85);
  border: 1px solid #ffffff;
  box-shadow: 1px 2px 2px #000000;
}
nav,
nav-link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: rgba(59, 57, 61, 0.85);
  background-color: rgb(196, 194, 194);
  color: inherit;
  text-decoration: none;
}

a:link {
  color: rgba(59, 57, 61, 0.85);
  text-shadow: white 1px 1px;
}
a:visited {
  color: rgba(59, 57, 61, 0.85);
  text-shadow: white 1px 1px;
}
a:hover {
  color: rgba(59, 57, 61, 0.85);
  text-shadow: white 1px 1px;
}
a:active {
  color: rgba(59, 57, 61, 0.85);
  text-shadow: white 1px 1px;
}
