* {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.baseLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.heading {
  background-color: rgb(42, 43, 45);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.headerlist {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.top {
  font-size: 36px;
}

.btn {
  /*height: 35px;
  width: 35px;*/
}

.homePage {
  color: rgb(235, 241, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: rgb(42, 43, 45);
  font-family: 'Raleway', sans-serif;
}
.selected {
  color: rgb(235, 241, 250);
  border: 1px solid #ffffff;
  box-shadow: 1px 2px 2px #000000;
}
nav,
nav-link {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(235, 241, 250);
  background-color: rgb(42, 43, 45);
  color: inherit;
  text-decoration: none;
  text-shadow: rgb(76, 81, 88) 1px 1px;
  border-bottom-style: outset;
  border-color: rgb(46, 44, 50);
}

a:link {
  color: rgb(235, 241, 250);
  text-shadow: rgb(76, 81, 88) 1px 1px;
}
a:visited {
  color: rgb(235, 241, 250);
  text-shadow: rgb(128, 134, 142) 1px 1px;
}
a:hover {
  color: rgb(235, 241, 250);
  text-shadow: rgb(76, 81, 88) 1px 1px;
}
a:active {
  color: rgb(235, 241, 250);
  text-shadow: rgb(76, 81, 88) 1px 1px;
}
.references {
  color: rgb(235, 241, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: rgb(42, 43, 45);
  font-family: 'Raleway', sans-serif;
}

.portfolio {
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: rgb(42, 43, 45);
  font-family: 'Raleway', sans-serif;
}
.portfolioWrapper {
  display: flex;
  flex-direction: column;
  border-top-style: solid;
  border-color: black;
  align-items: center;
}
.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(42, 43, 45);
}
.synthimagediv {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.projectImages {
  height: 150px;
  width: 300px;
}
.contact {
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: rgb(42, 43, 45);
  font-family: 'Raleway', sans-serif;
}
.digits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p {
  font-size: 12pt;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}
li {
  font-size: 14pt;
}
h2 {
  font-size: 18pt;
}
.github-button {
  height: 60px;
  width: 60px;
}

.gitBut {
  height: 60px;
  width: 60px;
}
.projectLayout {
  border: 20px rgb(42, 43, 45);
  border-style: solid none;
}
