* {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headerlist {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
h1 {
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-shadow: rgb(128, 134, 142) 1px 1px;
}

.btn {
  height: 35px;
  width: 35px;
}
.github-button {
  background: url(../Images/GitHub-Mark-32px.png);
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  width: 40px;
  height: 40px;
  border: 0;
}
.homePage {
  color: rgb(235, 241, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../Images/foldedhornreversedcropped.jpg);
  background-repeat: no-repeat;
  background-size: 29%;
  background-position: 50% 50%;
  height: 100vh;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}
.selected {
  color: rgb(235, 241, 250);
  border: 1px solid #ffffff;
  box-shadow: 1px 2px 2px #000000;
}
nav,
nav-link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: rgb(235, 241, 250);
  background-color: black;
  color: inherit;
  text-decoration: none;
  text-shadow: rgb(76, 81, 88) 1px 1px;
  border-bottom-style: outset;
  border-color: rgb(46, 44, 50);
}

a:link {
  color: rgb(235, 241, 250);
  text-shadow: rgb(76, 81, 88) 1px 1px;
}
a:visited {
  color: rgb(235, 241, 250);
  text-shadow: rgb(128, 134, 142) 1px 1px;
}
a:hover {
  color: rgb(235, 241, 250);
  text-shadow: rgb(76, 81, 88) 1px 1px;
}
a:active {
  color: rgb(235, 241, 250);
  text-shadow: rgb(76, 81, 88) 1px 1px;
}
.references {
  background-image: url(../Images/reversedaltec620.jpg);
  color: rgb(235, 241, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: bottom;
  height: 100vh;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}
.about {
  background-image: url(../Images/hurdygurdyreversed.jpeg);
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: bottom center;
  height: 100vh;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}
.portfolio {
  background-image: url(../Images/ampexslice.jpeg);
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  height: 100vh;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}
.contact {
  background-image: url(../Images/eardrumreversed.png);
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
  height: 100vh;
  text-shadow: rgb(128, 134, 142) 1px 1px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 12pt;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}
li {
  font-size: 14pt;
}
h2 {
  font-size: 18pt;
}
.github-button,
.githublink {
  height: 35px;
  width: 35px;
}
