.contact {
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background: linear-gradient(to bottom, #45484d -140%, #000000 100%);*/
  font-family: 'Raleway', sans-serif;
}
.contactInfo {
  margin-top: 5px;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.link {
  height: 50px;
  width: 100%;
  text-indent: 1px;
}
ul.fa-ul {
  list-style-type: none;
  padding-left: 1px;
}
li {
  padding-left: 7px;
}

i {
  color: #007680;
}
