.naviWrapper {
  background-color: #45484d;
  height: auto;
}
.naviBits1 {
  border-style: solid;
  border-width: thin;
  border-color: rgb(167, 81, 10);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #45484d -400%, #000000 100%);
  color: white;
  height: 50px;
  width: 100%;
}
.naviBits2 {
  border-style: solid;
  border-width: thin;
  border-color: rgb(167, 81, 10);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #45484d -200%, #000000 100%);
  color: white;
  height: 50px;
  width: 100%;
}
.wtf,
.wtf2 {
  width: 100%;
}
.needSpace {
  height: auto;
  background-color: black;
  color: #666;
  text-align: right;
}
.buttonThree {
  height: 100%;
}
.superDuperNaviWrapper {
  display: flex;
  flex-direction: column;
}
